.contact-form{
    float: left;
    width: 640px;
}
.contact-info{
    float: right;
    width: 495px;
}
.contact-list{
    margin: 0;
    padding: 0;
    color: #0d0d0d;
    line-height: 43px;
    .icon{
        margin-right: 20px;
    }
    li{
        list-style: none;
    }
}