/*mixin functions*/
/*mixin function*/
/*end*/
/*variables*/
/*base*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 160px; element width
     Total width: 160px
     Total height: 80px
     Content box width: 160px - (2 * 20px) - (2 * 8px) = 104px
     Content box height: 80px - (2 * 20px) - (2 * 8px) = 24px */ }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  /*1em*/
  line-height: 1.75;
  font-family: "Open Sans", sans-serif;
  color: #737373; }

a {
  color: inherit;
  text-decoration: none; }

h2 {
  margin: 0 0 10px 0;
  font-style: 20px;
  font-style: 1.25em;
  color: black; }

p {
  margin: 0 0 20px 0; }

hr {
  margin: 115px 0;
  padding: 0;
  height: 2px;
  background-color: #e6e6e6;
  border: none; }

.cb {
  clear: both; }

/*Layout*/
.l-container {
  width: 1170px;
  margin: 0 auto;
  zoom: 1;
  z-index: 5;
  position: relative; }
  .l-container:before, .l-container:after {
    content: "";
    display: table; }
  .l-container:after {
    clear: both; }

/*modules*/
.header {
  background: url(img/header.jpg) center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 70px 0 165px 0; }

.header-logo {
  display: block;
  /*les inlines comporte comme un div*/
  float: left; }

.header-baseline {
  font-weight: 300;
  font-size: 45px;
  text-transform: uppercase;
  margin: 225px 0 80px 0;
  letter-spacing: -1; }

.header-baseline-l {
  display: block;
  line-height: 57px; }

.header-baseline-l2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px; }

.header-baseline-l3 {
  font-size: 40px;
  line-height: 60px; }

/*--------------------------------------------*/
/*                  Menu                      */
/*--------------------------------------------*/
.menu {
  font-size: 18px;
  font-weight: 600;
  margin-top: 60px;
  padding-top: 0;
  text-align: right;
  text-transform: uppercase; }

.menu-item {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .menu-item::before {
    content: "\\";
    color: white;
    display: inline-block;
    padding: 0 37px; }
  .menu-item:first-child::before {
    display: none; }
  .menu-item:hover, .menu-item.is-active {
    color: black; }

.btn {
  padding: 0 40px;
  background-color: #f39c12;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 40px;
  display: inline-block; }

.section {
  background-color: #fff;
  padding: 85px 0;
  position: relative; }
  .section::before, .section::after {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: skew(0deg, 177deg);
    -o-transform: skew(0deg, 177deg);
    -ms-transform: skew(0deg, 177deg);
    -webkit-transform: skew(0deg, 177deg);
    transform: skew(0deg, 177deg);
    z-index: 4; }
  .section::after {
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right; }

.section-title {
  margin-bottom: 140px;
  zoom: 1; }
  .section-title:before, .section-title:after {
    content: "";
    display: table; }
  .section-title:after {
    clear: both; }
  .section-title h1 {
    margin: 3px 0 0 0;
    padding: 0 20px 0 0;
    width: 180px;
    float: left;
    border-right: 4px solid #f39c12;
    color: black;
    text-align: right;
    line-height: 45px; }
  .section-title p {
    margin: 0;
    width: 950px;
    float: right;
    padding: 0;
    line-height: 25px;
    text-transform: uppercase; }

.icon-sprite, .icon-bulb, .icon-params {
  background-image: url('img/icon-s7fa88f1a05.png');
  background-repeat: no-repeat; }

.icon-bulb {
  background-position: 0 0;
  height: 40px;
  width: 28px; }

.icon-params {
  background-position: 0 -40px;
  height: 32px;
  width: 32px; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.about {
  zoom: 1; }
  .about:before, .about:after {
    content: "";
    display: table; }
  .about:after {
    clear: both; }

.about-icon {
  width: 125px;
  height: 125px;
  float: left;
  margin: 0 30px 30px 0;
  text-align: center;
  line-height: 125px;
  border: 2px solid #f39c12;
  border-radius: 125px; }

.about-text {
  width: 505px;
  float: left; }

.about-picture {
  float: right;
  width: 450px; }

.about-2 .about-picture {
  float: left;
  width: 610px; }
.about-2 .about-text {
  width: 550px;
  float: right; }
